<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <div>
                    <button class="btn btn-primary" (click)="doRegister()">Do Register</button>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div>
                    <a routerLink="/login">Login</a>
                </div>
            </div>
        </div>
    </div>    
</div>
