<div class="row my-2">
    <div class="col-8 cart-item">
        <div class="d-flex justify-content-between">
            <div>
                <p>Item-{{item.id}}
                <p></p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <span><b>Qty:</b></span>
                <button class="ml-2 quantity" (click)="decreaseItemQuantity()"><i class="fas fa-minus"></i></button>
                <span class="ml-2">{{item.quantity}}</span>
                <button class="ml-2 quantity" (click)="increaseItemQuantity()"><i class="fas fa-plus"></i></button>
                <button class="ml-3 delete-item" (click)="deleteItemFromCart()"><i class="fas fa-trash-alt text-white"></i></button>
            </div>
            <!-- <p>Demo</p> -->
        </div>
    </div>
</div>