<div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Welcome</h2>
                <div>
                    <a href="/signup" class="btn btn-danger">Sign Up</a>
                    <a href="/login" class="btn btn-success mx-3">Login</a>
                </div>
            </div>
        </div>
    </div>