.time{
    background-color: rgb(185, 174, 174);
    height: 2rem;
    width: 50%;
    text-align: center;
}

.date{
    background-color: rgb(185, 174, 174);
    height: 2rem;
    width: 50%;
    text-align: center;
}